# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg

# Application data
config.json
devices.json

# OS specific files
.DS_Store
Thumbs.db

# Test
TestLogin.cs